html,
body,
#app,
#app>div,
#__next,
.layout,
.footer {
  height: 100%;
}

body {
  overflow: hidden
}

.__floater__open {
  z-index: 10000 !important;
}

div[class|='react-joyride-step'] {
  z-index: 10000 !important;
}